{include file="public/top"}
<script src="__STATIC__/js/wangEditor.min.js"></script>
{/**  文本框   **/}
    <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>

  {/**  文本框   **/}
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                <!-- 所属分类 -->
                  <div class="layui-form-item">
                      <label class="layui-form-label">所属分类</label>
                      <div class="layui-input-block" style="width: 190px;">
                        <select name="cate_id" lay-filter="aihao">
                          {volist name="catelist" id="cl"}
                              <option value="{$cl['cate_id']}" {if condition="$cl['cate_id'] == $data['cate_id']"}selected=""{/if}>{$cl['cate_name']}</option>
                          {/volist}
                        </select>
                      </div>
                  </div>
                <!-- 标题 -->
                  <div class="layui-form-item">
                      <label for="article_title" class="layui-form-label">
                          <span class="x-red">*</span>标题
                      </label>
                      <div class="layui-input-inline">
                          <input type="hidden" name="article_id" value="{$data['article_id']}">
                          <input type="text" id="article_title" name="article_title" value='{$data["article_title"]}' required="" lay-verify="required"
                          autocomplete="off" class="layui-input">
                      </div>
                  </div>
                <!-- 作者昵称 -->
                  <div class="layui-form-item">
                      <label for="article_nick" class="layui-form-label">
                          <span class="x-red">*</span>作者昵称
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="article_nick" name="article_nick" value='{$data["article_nick"]}' required="" lay-verify="required"
                          autocomplete="off" class="layui-input">
                      </div>
                  </div>
                <!-- 配图 -->
                  <div class="layui-form-item">
                      <label for="article_nick" class="layui-form-label">
                          <span class="x-red"></span>配图
                      </label>
                      <div class="layui-input-inline" style="width: 350px;">
                          <input type="hidden" name="article_img" value="{$data['article_img']}">
                          <img src="{$data['article_img']}" id="imgshow" width="50px" />
                          <button type="button" class="layui-btn" id="img">
                            <i class="layui-icon">&#xe67c;</i>上传图片
                          </button>
                          <span style="color: #7d7d7d;"> 若不上传配图则使用系统默认配图 </span>
                      </div>
                  </div>
                <!-- 状态 -->
                  <div class="layui-form-item">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                      <input type="checkbox" name="article_is_state" {if condition="$data['article_is_state'] == 1"}checked{/if} lay-skin="switch" lay-text="ON|OFF">
                    </div>
                  </div>
                <!-- 是否评论 -->
                  <div class="layui-form-item">
                    <label class="layui-form-label">是否评论</label>
                    <div class="layui-input-block">
                      <input type="checkbox" name="is_comment" lay-skin="switch" {if condition="$data['is_comment'] == 1"}checked{/if} lay-text="ON|OFF">
                    </div>
                  </div>
                <!-- 简介 -->
                  <div class="layui-form-item">
                      <label for="introduction" class="layui-form-label">
                          文章简介
                      </label>
                      <div class="layui-input-inline">
                          <input type="text" id="introduction" name="introduction" value='{$data["introduction"]}' required="" lay-verify="required"
                          autocomplete="off" class="layui-input">
                      </div>
                  </div>
                  
                <!-- 文章内容 -->
                   <script id="editor" type="text/plain" style="width:800px;height:500px;margin-left: 5px;">
                        {$data["article_text"]}
                   </script>

                  <br>
                <!-- 增加 -->
                  <div class="layui-form-item">
                      <label for="L_repass" class="layui-form-label">
                      </label>
                      <button  class="layui-btn" lay-filter="add" lay-submit="">
                          修改
                      </button>
                  </div>
              </form>
            </div>
        </div>

        <script>


        var ue = UE.getEditor('editor');

        layui.use(['form', 'layer', 'upload'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer,
                upload = layui.upload;

                // 自定义图片上传
                uploadInst = upload.render({
                  elem : '#img' // 元素绑定
                  ,url : '{:Url("upload/articleimg")}'
                  ,accept : 'images'
                  ,acceptMime  : 'image/jpg'
                  ,size : '3000'
                  ,before : function(obj){ 
                    // 上传前回调
                    layer.load(); //上传loading

                  }
                  /**
                   * [done description]
                   * @param  {[type]}   res [
                   *   "code": 0
                        ,"msg": ""
                        ,"data": {
                         "src": "http://cdn.layui.com/123.jpg"
                        }]
                   * @return {Function}     [description]
                   */
                  ,done:function(res){
                    // 上传完毕回调
                    if (res.code) {
                      $("input[name='article_img']").val(res.data.src);
                      $("#imgshow").attr("src", res.data.src);
                    }
                    layer.closeAll('loading'); // 关闭loding
                  }
                  ,error: function(){
                    // 请求异常回调
                    layer.closeAll('loading'); // 关闭loding
                  }
                })

                //监听提交
                form.on('submit(add)',function(data) {

                  data.field.article_text =  UE.getEditor('editor').getContent();
                    $.ajax({
                      'type' : 'post',
                      'url' : '{:Url("article/articleedit")}',
                      'data' : {'data' : data.field},
                      dataType : 'json',
                      success:function(data){
                        var data = JSON.parse(data);
                        if (data.code == 0) {
                            layer.alert(data.msg, {
                                icon: 6
                            },function() {
                              $(".layui-layer-shade4").trigger("click");
                                //关闭当前frame
                                x_admin_close();
                                // 可以对父窗口进行刷新 
                                x_admin_father_reload();
                              });
                        }else{
                          layer.msg(data.msg);
                        }
                      },
                      error:function(){
                        layer.msg("请重新尝试");
                      }

                    })
                    //发异步，把数据提交给php
                    return false;
                });

            });</script>
    </body>

</html>
