{include file="public/top"}
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">文章管理</a>
                <a>
                    <cite>文章分类</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5" method="post" >
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input class="layui-input" placeholder="分类名" name="cate_name"></div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon"></i>增加</button>
                                </div>
                            </form>
                            <hr>
                            <blockquote class="layui-elem-quote">文章分类 添加或者修改需要清除缓存</blockquote>
                        </div>
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                              <thead>
                                <tr>
                                  <th width="70">ID</th>
                                  <th width="70">分类名称</th>
                                  <th width="70">分类描述</th>
                                  <th width="50">排序</th>
                                  <th width="80">状态</th>
                                  <th width="250">操作</th>
                              </thead>
                              <tbody class="x-cate">
                                {volist name="cateData" id="cate"}
                                  <tr>
                                    <td>
                                      {$cate['cate_id']}
                                      </td>
                                    <td>
                                      <input type="text" name="cate_name" onchange="catename(this,{$cate['cate_id']},'cate_name')" class="layui-input" value="{$cate['cate_name']}" lay-skin="primary">
                                    </td>
                                    <td>
                                      占位置
                                    </td>
                                    <td><input type="text" class="layui-input x-sort" onchange="catename(this,{$cate['cate_id']},'cate_sort')" data-id="{$cate['cate_id']}" name="cate_sort" value="{$cate['cate_sort']}"></td>
                                    <td>
                                      <input type="checkbox" name="is_state" data-id="{$cate['cate_id']}" lay-text="开启|停用"  {if condition="$cate['is_state'] == 1"}checked=""{/if} lay-filter="is_state" lay-skin="switch">
                                    </td>
                                    <td class="td-manage">
                                      <button class="layui-btn-danger layui-btn layui-btn-xs" data-id="{$cate['cate_id']}" onclick="member_del(this,'{$cate[\"cate_id\"]}')" href="javascript:;" ><i class="layui-icon">&#xe640;</i>删除</button>
                                    </td>
                                  </tr>
                                {/volist}
                              </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
          layui.use(['form'], function(){
            form = layui.form;
            
            form.on('switch(is_state)', function(data){
              var text = 2;
              if (data.elem.checked) {
                text = 1;
              }
              var type = "is_state";
              var cate_id = $(data.elem).data('id');

              $.ajax({
                  'type' : 'get',
                  'url'  : '{:Url("article/cateedit")}',
                  'data' : {
                      "cate_id":cate_id,
                      "type":type,
                      "text":text,
                    },
                  'dataType' : 'json',
                  success:function(data){
                    var data = JSON.parse(data);
                    layer.msg(data.msg);
                  }
              })
            });
          });


          function catename(obj ,cate_id ,type){
            if ($(obj).val() == '') {
              layer.msg("请填写分类名称");
              return false;
            }
            $.ajax({
                'type' : 'get',
                'url'  : '{:Url("article/cateedit")}',
                'data' : {
                    "cate_id":cate_id,
                    "type":type,
                    "text":$(obj).val(),
                  },
                'dataType' : 'json',
                success:function(data){
                  var data = JSON.parse(data);
                  layer.msg(data.msg);
                }
            })
          }

           /*用户-删除*/
          function member_del(obj,id){
              layer.confirm('确认要删除吗？',function(index){
                  //发异步删除数据
                  $.ajax({
                      'type' : 'get',
                      'url'  : '{:Url("article/catedel")}',
                      'data' : {
                          "cate_id":id,
                        },
                      'dataType' : 'json',
                      success:function(data){
                        var data = JSON.parse(data);
                        if (data.code != '-1') {
                          $(obj).parents("tr").remove();
                          layer.msg(data.msg,{icon:1,time:1000});
                        }else{
                          layer.msg(data.msg,{icon:5,time:1000});
                        }
                      }
                  })
              });
          }
   
        </script>
    </body>
</html>
